<div class="container mt-5">
  <div class="card shadow border-0 mx-auto" style="max-width: 600px;">
    <div class="card-header bg-dark text-white text-center py-3">
      <h5 class="mb-0"><i class="bi bi-shop me-2"></i>Panel de Inventario</h5>
    </div>
    <div class="card-body p-4">
      
      <div class="row">
        <div class="col-12 mb-3">
          <label class="form-label fw-bold">Nombre del Producto</label>
          <input type="text" class="form-control" [(ngModel)]="nuevoProducto.nombre" placeholder="Ej. Café Altomayo">
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Categoría</label>
          <select class="form-select" [(ngModel)]="nuevoProducto.categoria">
            <option value="">Selecciona...</option>
            <option value="bebidas">Bebidas</option>
            <option value="comida">Comida</option>
            <option value="postres">Postres</option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Stock Inicial</label>
          <input type="number" class="form-control" [(ngModel)]="nuevoProducto.stock">
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Precio (S/.)</label>
          <input type="number" class="form-control" [(ngModel)]="nuevoProducto.precio">
        </div>

        <div class="col-md-6 mb-3">
          <label class="form-label fw-bold">Foto del Producto</label>
          <input type="file" class="form-control" (change)="onFileSelected($event)" accept="image/*">
        </div>
      </div>

      <div class="alert alert-info py-2" *ngIf="archivoSeleccionado">
        <small><i class="bi bi-file-earmark-image"></i> Listo para subir: {{ archivoSeleccionado.name }}</small>
      </div>

      <button class="btn btn-primary w-100 fw-bold mt-2" 
              (click)="guardar()" 
              [disabled]="cargando()">
        <span *ngIf="!cargando()">
          <i class="bi bi-cloud-arrow-up me-2"></i>Publicar Producto
        </span>
        <span *ngIf="cargando()" class="spinner-border spinner-border-sm"></span>
      </button>
      
    </div>
  </div>
</div>